body {
  margin: 0;
}

/* ************************************ */
/* HEADER */

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.2);
  background-color: var(--color-page-background);
}

.logo-link {
  display: inline-flex;
  color: inherit;
  padding: 10px;
  border-radius: 3px;
}

.logo-link:focus-visible {
  outline: 1px solid tomato;
}

/* ************************************ */
/* MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: min(150px, 12vw) 10px 100px;
}

.scene-container {
  width: min(100%, 470px);
}

/* ************************************ */
/* FOOTER */

.theme-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
